

.main_container {
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 讓兩部分分開排列 */
}   
   

/* 側邊欄 */
aside {
  width: 250px;
  padding: 20px;
  background-color: hsl(211, 100%, 93%);
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  height: 90vh; /* vh 是視窗高度的百分比 */
  position: sticky;
}

.image-container {
  width: 100%;
  padding-bottom: 25%;
  overflow: hidden;
  border-radius: 50%; /* Make the container circular */
  display: flex;
  justify-content: center;
  max-width: 200px; /* Set a maximum width */
  max-height: 200px; /* Set a maximum height */
  align-items: center;
  margin: 0 auto; /* Center the container horizontally */
}

.image-container img {
  width: 100%; /* Ensure the image fits within the container */
  height: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  text-align: center;
  
}

nav li a,
nav li a:visited {
  display: block;
  padding: 25px;
  color: #397a9b;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none; /* 可選 */
}



nav li:hover {
  background-color: #ecfffe;
  border-radius: 10%;
}

footer {
  margin-top: auto; /* Push the footer to the bottom of the aside */
  text-align: center; /* Center the text within the footer */
}

footer p {
  margin: 0; /* Remove default margin */
}

footer a {
  color: #397a9b;
  text-decoration: none;
}
