/* 網站主容器，將aside與section方開 */
.main_container {
  padding-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* 讓兩部分分開排列 */
}   
   

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}
input, textarea, button {
    padding: 10px;
    font-size: 1rem;
}
button {
    background: #0078d7;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #005ea6;
}
.result {
    margin-top: 20px;
    white-space: pre-wrap;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
}

#login_container {
    flex: 3;              /* 右側主內容較寬 */
    padding: 0px 20px 20px 50px;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}